body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
    height: 100vh; /* Set the container to 100% of the viewport height */
}

.sidebar {
    width: 10%;
    background-color: #000000;
    color: #fff;
    padding-left: 40px;
    height: 100%; /* Make the sidebar take up 100% of the viewport height */
    overflow: auto; /* Add scroll if content overflows the viewport height */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    flex: 1;    
    text-align: center;
    width: 100%;
}

.title1{
    flex: 1;
    text-align: center;
    height: 5%; /* Make the main content take up 100% of the viewport height */
    
}

h2 {
    color: #333;
}

.danger{
    color: #ff0000;
}
