body {
    background-color: #e6e6e6;
    /* Grey background color */
}

h1 {
    font-size: x-large;
    padding-bottom: 0px;
}

p[type="forgot"] {
    font-size: small;
    padding-right: 150px;
    color: #0077ff;
}

p[type="sign up"] {
    font-size: small;
}

.centered-container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    /*border: 1px solid #ccc;*/
    padding: 20px;
    background-color: #e6e6e6;
}


/* Style for form labels */

label {
    display: block;
    margin-bottom: 8px;
}


/*Style for form inputs*/

input[type="text"],
input[type="password"] {
    width: 250px;
    padding: 12px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: #0077ff;
    border-width: 1.5px;
}


/* Style for the "Sign In" button with padding */

input[type="submit"] {
    padding: 10px 0;
    width: 100%;
    padding-right: 100px;
    text-align: center;
}

.button-container {
    text-align: center;
    /* Center-align the content within the container */
}

button[type="submit"] {
    background-color: #0077ff;
    color: white;
    padding: 12px 115px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}