body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

.form-container {
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 3px;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #b30000;
}
